@using GestionHospital.Models.Administracion
@model PacienteView
@{
    var identificacion = ViewData.TemplateInfo.GetFullHtmlFieldId("Identificacion");
}

@{
    IEnumerable<SelectListItem> estadosMedico = new List<SelectListItem>
    {
        new SelectListItem{ Value = "1", Text = "Activo" },
        new SelectListItem{ Value = "0", Text = "Inactivo" }
    };
}
<h2>@ViewBag.Title.</h2>
<h4 id="mensajeError" class="text-danger" style="display:@(string.IsNullOrEmpty(ViewBag.MessageError) ? "none" : string.Empty)">@ViewBag.MessageError.</h4>
<h4 id="mensajeExito" class="text-info" style="display:@(string.IsNullOrEmpty(ViewBag.Message) ? "none" : string.Empty)">@ViewBag.Message.</h4>
<div class="row">
    <div class="col-md-11">
        <section id="pacienteForm">
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#guardar').click(function () {
                        $('form').attr('Action', '/Administracion/GuardarPaciente');
                    });

                    $('#actualizar').click(function () {
                        $('form').attr('Action', '/Administracion/ActualizarPaciente');
                    });

                    $('#eliminar').click(function () {
                        $('form').attr('Action', '/Administracion/EliminarPaciente');
                    });

                    $('#limpiar').click(function () {
                        $('form').attr('Action', '/Administracion/Paciente');
                    });

                    $('#@identificacion').change(
                        function (event) {
                            var idTipoIdentificacionParam = $('#IdTipoIdentificacion').data('kendoDropDownList').value();
                            var identificacionParam = $('#@identificacion').val();

                            $('#mensajeError').hide();
                            $('#mensajeExito').hide();
                            $('#generarPassword').hide();

                            document.getElementById('guardar').disabled = 'disabled';
                            document.getElementById('actualizar').disabled = 'disabled';
                            document.getElementById('eliminar').disabled = 'disabled';

                            $('#IdPersona').val(0);
                            $('#Nombres').val('');
                            $('#Apellidos').val('');
                            $('#Email').val('');
                            $('#Telefono').val('');
                            $('#Direccion').val('');
                            $('#IdCiudad').data('kendoDropDownList').value();
                            $('#IdGenero').data('kendoDropDownList').value();
                            $('#FechaNacimiento').data('kendoDatePicker').value();
                            $('#Estado').data('kendoComboBox').value();
                            $('#IdTipoPersona').val(0);

                            if (identificacionParam == "")
                                return;

                            mostrarVentanaCargando();

                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("ConsultarPaciente", "Administracion")',
                                data: { idTipoIdentificacion: idTipoIdentificacionParam, identificacion: identificacionParam },
                                success: function (result) {
                                    if (result != "") {
                                        if (result.IdTipo != 6) {
                                            alert('Aún no ha sido registrado como paciente.');

                                            document.getElementById('guardar').disabled = '';
                                        } else {
                                            document.getElementById('actualizar').disabled = '';

                                            if (result.EstadoTipo) {
                                                $('#generarPassword').show();
                                                document.getElementById('eliminar').disabled = '';
                                            } else {
                                                $('#estadoPaciente').show();
                                            }
                                        }

                                        $('#IdPersona').val(result.IdPersona);
                                        $('#Nombres').val(result.Nombres);
                                        $('#Apellidos').val(result.Apellidos);
                                        $('#Email').val(result.Email);
                                        $('#Telefono').val(result.Telefono);
                                        $('#Direccion').val(result.Direccion);
                                        $('#IdCiudad').data('kendoDropDownList').value(result.IdCiudad);
                                        $('#IdGenero').data('kendoDropDownList').value(result.IdGenero);
                                        $('#FechaNacimiento').data('kendoDatePicker').value(result.FechaNacimiento);
                                        $('#Estado').data('kendoComboBox').value(result.EstadoTipo ? "1" : "0");
                                        $('#IdTipoPersona').val(result.IdTipo);
                                    } else {
                                        document.getElementById('guardar').disabled = '';
                                    }
                                },
                                error: function (err) {
                                    alert('Error al consultar paciente: ' + err.responseJSON);
                                },
                                complete: function () {
                                    cerrarVentanaCargando();
                                }
                            });
                        }
                    );
                })

                function generarPasswordPaciente() {
                    var idPersonaParam = $('#IdPersona').val();

                    mostrarVentanaCargando();

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GenerarPasswordPaciente", "Account")',
                        data: { idPersona: idPersonaParam },
                        success: function (result) {
                            if (result != "") {
                                alert('La nueva contraseña es: ' + result.password);
                            }
                        },
                        error: function (err) {
                            debugger;
                            alert('Error al generar contraseña: ' + err.responseJSON);
                        },
                        complete: function () {
                            cerrarVentanaCargando();
                        }
                    });
                }
            </script>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <table style="width: 80%">
                    <tr>
                        <td>
                            Tipo Identificación:
                        </td>
                        <td>
                            @Html.Kendo().DropDownListFor(m => m.IdTipoIdentificacion).BindTo(new SelectList(Model.ListaTiposIdentificaciones, "IdDetalleCatalogo", "Nombre"))
                            @Html.ValidationMessageFor(m => m.IdTipoIdentificacion, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Identificación:
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Identificacion, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Identificacion, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Nombres:
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Nombres, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Nombres, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Apellidos:
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Apellidos, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Apellidos, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Correo Electrónico:
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Teléfono:
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Dirección:
                        </td>
                        <td style="width:80%">
                            @Html.TextAreaFor(m => m.Direccion, new { style = "width:100%; height:80%", @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ciudad Residencia:
                        </td>
                        <td>
                            @Html.Kendo().DropDownListFor(m => m.IdCiudad).BindTo(new SelectList(Model.ListaCiudades, "IdDetalleCatalogo", "Nombre")).OptionLabel("Seleccionar")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Fecha Nacimiento:
                        </td>
                        <td>
                            @Html.Kendo().DatePickerFor(m => m.FechaNacimiento).Max(Model.FechaActual)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Género:
                        </td>
                        <td>
                            @Html.Kendo().DropDownListFor(m => m.IdGenero).BindTo(new SelectList(Model.ListaGeneros, "IdDetalleCatalogo", "Nombre"))
                        </td>
                    </tr>
                    <tr id="estadoPaciente" style="display:none">
                        <td>
                            Estado:
                        </td>
                        <td>
                            @Html.Kendo().ComboBoxFor(model => model.Estado).BindTo(new SelectList(estadosMedico, "Value", "Text"))
                        </td>
                    </tr>
                </table>
                <hr />
                <table>
                    <tr>
                        <td>
                            <input type="submit" id="guardar" value="Guardar" class="btn btn-default" @(string.IsNullOrEmpty(Model.Identificacion) ? "disabled" : "") />
                            <input type="submit" id="actualizar" value="Actualizar" class="btn btn-default" @(Model.IdTipoPersona != 6 ? "disabled" : "") />
                            <input type="submit" id="eliminar" value="Eliminar" class="btn btn-default" @(Model.IdTipoPersona != 6 ? "disabled" : "") />
                            <input type="button" id="generarPassword" value="Generar Contraseña" class="btn btn-default" onclick="generarPasswordPaciente()" style="display:none" />
                            <input type="submit" id="limpiar" value="Limpiar" class="btn btn-default" />
                        </td>
                    </tr>
                </table>
                @Html.HiddenFor(m => m.IdPersona)
                @Html.HiddenFor(m => m.IdTipoPersona)
                @Html.HiddenFor(m => m.FechaActual)
            }
        </section>
    </div>
</div>