@using GestionHospital.Models.Procesos
@model AgendamientoCitasView
@{
    var identificacion = ViewData.TemplateInfo.GetFullHtmlFieldId("Identificacion");
}
<h2>@ViewBag.Title.</h2>
<h4 id="mensajeError" class="text-danger" style="display:@(string.IsNullOrEmpty(ViewBag.MessageError) ? "none" : string.Empty)">@ViewBag.MessageError.</h4>
<h4 id="mensajeExito" class="text-info" style="display:@(string.IsNullOrEmpty(ViewBag.Message) ? "none" : string.Empty)">@ViewBag.Message.</h4>
<div class="row">
    <div class="col-md-11">
        <section id="medicoForm">
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#agendar').click(function () {
                        $('form').attr('Action', '/Procesos/AgendarCita');
                    });

                    $('#reagendar').click(function () {
                        $('form').attr('Action', '/Procesos/ReagendarCita');
                    });

                    $('#cancelar').click(function () {
                        $('form').attr('Action', '/Procesos/CancelarCita');
                    });

                    $('#limpiar').click(function () {
                        $('form').attr('Action', '/Procesos/AgendamientoCita');
                    });

                    $('#@identificacion').change(
                        function (event) {
                            var identificacionParam = $('#@identificacion').val();

                            $('#mensajeError').hide();
                            $('#mensajeExito').hide();

                            document.getElementById('agendar').disabled = 'disabled';
                            document.getElementById('reagendar').disabled = 'disabled';
                            document.getElementById('cancelar').disabled = 'disabled';

                            $('#IdCita').val(0);
                            $('#IdPersona').val(0);
                            $('#NombrePaciente').val('');
                            $('#FechaCita').data('kendoDatePicker').value();
                            $('#Motivo').val('');
                            $('#IdEspecialidad').data('kendoDropDownList').value();
                            $('#IdMedico').data('kendoDropDownList').value();
                            $('#IdHoraCita').data('kendoDropDownList').value();

                            if (identificacionParam == "")
                                return;

                            mostrarVentanaCargando();

                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("ConsultarPacienteCita", "Administracion")',
                                data: { identificacion: identificacionParam },
                                success: function (result) {
                                    if (result != "") {
                                        $('#IdPersona').val(result.idPersona);
                                        $('#NombrePaciente').val(result.nombrePaciente);

                                        document.getElementById('agendar').disabled = '';

                                        cargarGridCitas();
                                    } else {
                                        alert('No existe el paciente ingresado');
                                    }
                                },
                                error: function (err) {
                                    alert('Error al consultar paciente: ' + err.responseJSON);
                                },
                                complete: function () {
                                    cerrarVentanaCargando();
                                }
                            });
                        }
                    );
                })

                function cargarGridCitas() {
                    var idPersonaParam = $('#idPersona').val();

                    $('#GridCitas').data('kendoGrid').dataSource.read({ IdPaciente: idPersonaParam });
                }

                function onRowSelectedCita() {
                    debugger;
	                var selectedRow;
	                var grid = this;

	                grid.select().each(function () {
		                selectedRow = grid.dataItem($(this));
                    });

                    $('.datosCita').show();
                    document.getElementById('agendar').disabled = 'disabled';
                    document.getElementById('reagendar').disabled = '';
                    document.getElementById('cancelar').disabled = '';

                    $('#IdCita').val(selectedRow.IdCita);
                    $('#FechaCita').data('kendoDatePicker').value(selectedRow.Fecha);
                    $('#Motivo').val(selectedRow.Motivo);
                    $('#IdEspecialidad').data('kendoDropDownList').value(selectedRow.IdEspecialidad);
                    $('#IdMedico').data('kendoDropDownList').value(selectedRow.IdMedico);
                    $('#IdHoraCita').data('kendoDropDownList').value(selectedRow.IdHorario);
                }

                function validarMaximoCitas() {
                    debugger;
                    var grid = $("#GridOrdenesPago").data("kendoGrid");
                    var data = grid.dataSource.data();
                    var len = data.length;

                    if (len > 1) {
                        $('.datosCita').hide();
                        document.getElementById('agendar').disabled = 'disabled';
                    } else {
                        $('.datosCita').show();
                    }
                }

                function filtrarDatosConsultaMedicos() {
                    return { idEspecialidad: $('#dropDownEspecialidad').data('kendoDropDownList').value() };
                }

                function consultarHorariosDisponibles(e) {
                    debugger;
                    var idMedicoParam = $('#dropDownMedico').data('kendoDropDownList').value();
                    var fechaParam = e.sender._value;

                    $('#dropDownHorario').data('kendoDropDownList').dataSource.read({ idMedico: idMedicoParam, fecha: fechaParam });
                }

                function filtrarDatosConsultaHorarios() {
                    debugger;
                    var idMedicoParam = $('#dropDownMedico').data('kendoDropDownList').value();
                    var fechaParam = e.sender._value;

                    return { idMedico: idMedicoParam, fecha: fechaParam };
                }
            </script>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <table style="width: 80%">
                    <tr>
                        <td>
                            Identificación:
                        </td>
                        <td>
                            @if (Model.EsPaciente)
                            {
                                @Html.TextBoxFor(m => m.Identificacion, new { @readonly = "readonly", @class = "form-control" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.Identificacion, new { @class = "form-control" })
                            }
                            @Html.ValidationMessageFor(m => m.Identificacion, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Paciente:
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.NombrePaciente, new { @readonly = "readonly", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NombrePaciente, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Citas:
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @(
                                Html.Kendo()
                                .Grid<GestionHospital.Model.Shared.CitaMedica>()
                                .Name("GridCitas")
                                .Columns(c =>
                                {
                                    c.Bound(col => col.IdCita).Hidden();
                                    c.Bound(col => col.IdEspecialidad).Hidden();
                                    c.Bound(col => col.IdMedico).Hidden();
                                    c.Bound(col => col.Motivo).Hidden();
                                    c.Bound(col => col.IdHorario).Hidden();
                                    c.Bound(col => col.NombreEspecialidad).Title("Especialidad");
                                    c.Bound(col => col.NombreMedico).Title("Médico");
                                    c.Bound(col => col.Fecha).Title("Tipo Pago").Format("{0:dd/MM/yyyy}");
                                    c.Bound(col => col.NombreHorario).Title("Horario");
                                })
                                .Selectable()
                                .DataSource(dataBinding => dataBinding.Ajax()
                                    .Read("CargarCitasPendientesPaciente", "Procesos", new { idPaciente = Model.IdPersona}))
                                .Events(events => events.Change("onRowSelectedCita").DataBound("validarMaximoCitas"))
                            )
                        </td>
                    </tr>
                    <tr class="datosCita">
                        <td>
                            Especialidad:
                        </td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.IdEspecialidad)
	                            .Name("dropDownEspecialidad")
	                            .DataTextField("Nombre")
	                            .DataValueField("IdEspecialidad")
	                            .DataSource(dataBinding =>
		                            dataBinding.Read("ConsultarEspecilidadesCita", "Procesos")))
                            @Html.ValidationMessageFor(m => m.IdEspecialidad, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="datosCita">
                        <td>
                            Médico:
                        </td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.IdMedico)
                                .Name("dropDownMedico")
                                .DataValueField("IdMedico")
                                .DataTextField("NombreMedico")
                                .CascadeFrom("dropDownEspecialidad")
                                .DataSource(db => db.Read(r => r.Action("ConsultarMedicosCita", "Procesos").Data("filtrarDatosConsultaMedicos"))
                                .ServerFiltering(true)))
                            @Html.ValidationMessageFor(m => m.IdMedico, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="datosCita">
                        <td>
                            Fecha:
                        </td>
                        <td>
                            @Html.Kendo().DatePickerFor(model => model.FechaCita).Min(Model.FechaActual).Events(evt => evt.Change("consultarHorariosDisponibles"))
                            @Html.ValidationMessageFor(m => m.FechaCita, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="datosCita">
                        <td>
                            Hora:
                        </td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.IdHoraCita)
                                .Name("dropDownHorario")
                                .DataValueField("IdHorario")
                                .DataTextField("Nombre")
                                .CascadeFrom("dropDownMedico")
                                .DataSource(db => db.Read(r => r.Action("ConsultarHorariosCita", "Procesos").Data("filtrarDatosConsultaHorarios"))
                                .ServerFiltering(true)))
                            @Html.ValidationMessageFor(m => m.IdHoraCita, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr class="datosCita">
                        <td>
                            Motivo
                        </td>
                        <td>
                            @Html.TextAreaFor(m => m.Motivo, new { style = "width:100%; height:80%", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Motivo, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
                <hr />
                <table>
                    <tr>
                        <td>
                            <input type="submit" id="agendar" value="Agendar Cita" class="btn btn-default" @(string.IsNullOrEmpty(Model.Identificacion) ? "" : "disabled") />
                            <input type="submit" id="reagendar" value="Reagendar Cita" class="btn btn-default" disabled />
                            <input type="submit" id="cancelar" value="Cancelar Cita" class="btn btn-default" disabled />
                            <input type="submit" id="limpiar" value="Limpiar" class="btn btn-default" />
                        </td>
                    </tr>
                </table>
                @Html.HiddenFor(m => m.IdPersona)
                @Html.HiddenFor(m => m.IdCita)
                @Html.HiddenFor(m => m.EsPaciente)
                @Html.HiddenFor(m => m.FechaActual)
            }
            <script type="text/javascript">
                $('#@identificacion').trigger('change');
            </script>
        </section>
    </div>
</div>