@{
    Layout = null;
}

@using GestionHospital.Models.Procesos
@model RecetasView

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        <table style="width: 80%">
            <tr>
                <td colspan="2">
                    <img src="@Url.Content("~/Content/images/LogoHospital.jpg")" width="100">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    HOSPITAL BÁSICO N° 1 EL ORO
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    MEDICO:
                </td>
            </tr>
            <tr>
                <td>
                    @Model.NombreMedico
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    PACIENTE:
                </td>
            </tr>
            <tr>
                <td>
                    @Model.NombrePaciente
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    FECHA:
                </td>
            </tr>
            <tr>
                <td>
                    @Model.FechaEmision.ToString("dd/MM/yyyy")
                </td>
            </tr>
        </table>
        <br />
        <hr />
        <br />
        <table>
            <tr>
                <td>
                    MEDICAMENTOS:
                </td>
            </tr>
            @foreach (var detalle in Model.Detalles)
            {
                <tr class="espacio"></tr>
                <tr>
                    <td>
                        <u>@detalle.Medicamento</u>
                    </td>
                </tr>
                <tr>
                    <td>
                        @detalle.Indicaciones
                    </td>
                </tr>
            }
            <tr class="espacio"></tr>
            <tr>
                <td>
                    Observaciones:
                </td>
            </tr>
            <tr>
                <td>
                    @Model.ObservacionesReceta
                </td>
            </tr>
            <tr class="espacio"></tr>
        </table>
        <br />
        <hr />
        <br />
        <table>
            <tr>
                <td colspan="2">
                    Generado por: @Model.LoginUsuario
                </td>
            </tr>
            <tr>
                <td>
                    Fecha Generación: @Model.FechaGeneracion.ToString()
                </td>
            </tr>
        </table>
    </div>
</body>
</html>